# Зависимости
/node_modules
/.pnp
.pnp.js

# Результаты сборки
/dist
/dist-ssr
/build
*.local

# Логи
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

# Настройки IDE и редакторов
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Файлы окружения
.env
.env.local
.env.*.local